<template>
  <div class="index">
    <el-container style="height:100vh">
      <el-aside width="210px" style="height:100vh;background:#001529">
        <el-menu
          background-color="#001529"
          style="height:100vh;width:210px;box-sizing:border-box"
          text-color="#999"
          active-text-color="#fff"
          :router="true"
          :default-active="defaultActive"
        >
          <h3 class="title">后台管理</h3>
          <el-submenu v-for="item in menus" :key="item.id" style="background:#001529" :index="''+item.id">
            <template slot="title">
              <i class="el-icon-message"></i>{{item.authName}}
            </template>
            <!-- <el-menu-item-group style="background:#001529"> -->
              <el-menu-item v-for="_item in item.children" :key="_item.id" style="background:#001529" :index="'/index/'+_item.path">{{_item.authName}}</el-menu-item>
            <!-- </el-menu-item-group> -->
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px; border-bottom:1px solid #ddd">
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{$store.state.username}}</span>
        </el-header>

        <el-main>
            <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import { getMenus } from "../http/api";
import {mapMutations} from 'vuex'
export default {
  data() {
    // const item = {
    //   date: "2016-05-02",
    //   name: "王小虎",
    //   address: "上海市普陀区金沙江路 1518 弄"
    // };
    return {
      // tableData: Array(20).fill(item),
      menus:[],
      defaultActive:this.$route.path
    };
  },
  methods: {
    ...mapMutations([
      'resetState'
    ]),
    //获取左侧权限列表
    getMenus() {
      return getMenus().then(res => {
         this.menus=res
      });
      
    },
    //退出
    logOut(){
      localStorage.clear()
      this.resetState()
      this.$router.push({
        name:'login'
      })
    }
  },
  watch:{
    '$route'(){
      this.defaultActive=this.$route.path
    }
  },
  created() {
    this.getMenus();
  }
};
</script>
<style lang="scss" scoped>
.index {
  .title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
  }
}
.el-header {
  background-color: #fff;
  color: #333;
  line-height: 60px;
}
</style>