<template>
  <div class="login">
    <div class="login-form-wrap">
      <h3 align="left" class="login-form-title">欢迎登录</h3>
      <div class="login-form">
        <el-form ref="login-form" :model="form" class="demo-form-inline" :rules="rules" size="mini">
          <el-form-item prop="username">
            <el-input v-model="form.username" placeholder="用户名">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input type="password" v-model="form.password" placeholder="密码">
              <el-button slot="prepend" icon="el-icon-lock "></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button class="login-form-btn" type="primary" @click="login">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import { login } from "../http/api.js";
export default {
  data() {
    return {
      form: {
        username: "",
        password: ""
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" }
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  methods: {
    login() {
      this.$refs['login-form'].validate(async (valid)=>{
        if(valid){
            const { token, username } = await login(this.form);
            if(token){
              this.$message({
                showClose: true,
                message: "欢迎回来," + username,
                type: "success"
              });
            }
            this.$store.commit("setToken", token);
            this.$store.commit("setUsername", username);
            this.$router.replace({
              name: "index"
            });
        }else{
          return false
        }
      })
      
    }
  }
};
</script>
<style lang="scss" scoped>
.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center;
  background-size: cover;
  .login-form-wrap {
    width: 300px;
    background: white;
    border-radius: 13px;
    margin-right: 160px;
    box-sizing: border-box;
    .login-form-title {
      padding: 15px;
      border-bottom: 1px solid #ddd;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .login-form {
      padding: 15px;
      .login-form-btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
</style>